node_modules/*
node_modules
.vscode/*
/lrdb-back/venv/
.idea/
lrdb_back/__pycache__/
lrdb_back/media/
lrdb_back/media/*
lrdb_back/Database.txt
lrdb_back/db.sqlite3

.coverage
.coverage.*
lrdb-front/coverage/* 
lrdb-front/coverage/

lrdb_back/*/migrations/*
lrdb_back/*/migrations
lrdb_back/*/migrations/

lrdb_back/venv/
lrdb_back/venv/*
lrdb_back/document_storage/migrations/0001_initial.py
