/* Default settings */
html {
  font-size: 1.47vw;
}
body {
  /* max-width: 1920px; */
  min-width: 320px;
  box-sizing: border-box;
  color: #12152a; /*The most common by the elements*/
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.7rem;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.btn-success {
  /*UI style*/
  /* background-color: #15b012;  */
  /* Accessability low treshhold */
  color: #fff;
  background-color: #0f870d;
}
.bg-success {
  /*UI style*/
  /* background-color: #15b012;  */
  /* Accessability low treshhold */
  color: #fff;
  background-color: #0f870d !important; /*bootstrap uses important, thus to rewrite it...*/
}
/* Header - footter*/
.symbolic {
  background-color: #edf1f5;
  min-height: 2rem;
}
footer {
  margin-top: 2rem;
}